body {
    font-size: 62.5%;
}
header {
    background-color: #1659FF;
    text-align: center;
}
#logog {
    height: 8em;
    width: 8em;
    margin: 1em;
}
#logor {
    height: 8em;
    width: 8em;
    margin: 1em;
}
nav {
    box-shadow: 0.06em 0.06em 0.75em #555;
}
* {
    font-size: 1.2em;
}
.breadcrumbs a {
    font-size: 0.6em;
    padding: 0.2em;
}
h4 {
    padding: 1em;
}
#colhg {
    padding-bottom: 5.98em;
    background-color: #5787FF;
}
#colbd {
    padding-bottom: 19.15em;
}
.panel {
    background-color: #5787FF;
}
ul {
    box-shadow: 0.06em 0.06em 0.75em #555;
    background-color: #5787FF;
}
ul li {
    list-style-type: none;
    box-shadow: 0.06em 0.06em 0.75em #555;
    background-color: #5787FF;
}
code {
    font-size: 1.2em;
}
h4 {
    font-size: 1.5em;
    background-color: #62B2FF;
}
dl {
    background-color: #5787FF;
}
footer {
    font-style: italic;
}
