body {
    font-size: 62.5%;
}
header {
    background-color: #1659FF;
    text-align: center;
}
#logog {
    height: 8em;
    width: 8em;
    margin: 1em;
}
#logor {
    height: 8em;
    width: 8em;
    margin: 1em;
}
span {
    display: inline-block;
}
* {
    font-size: 1.2em;
}
.breadcrumbs a {
    font-size: 0.6em;
    padding: 0.2em;
}
h4 {
    padding: 1em;
}
ul li {
    list-style-type: none;
}
code {
    font-size: 1.2em;
}
h4 {
    font-size: 1.5em;
    background-color: #62B2FF;
}
dl {
    background-color: #F8FF77;
}
footer {
    font-style: italic;
}
